/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.sp-only {
    display: none !important;
}
@include sp {
    .pc-only {
        display: none !important;
    }

    .sp-only {
        display: block !important;
    }
}