<footer class="c-footer">
  <div class="c-footer__inner">
   <div class="c-contact">
    <p>
      商品に関するお問い合わせは<br>
      健栄製薬株式会社<br>
      TEL | 06-6231-5626　受付時間 | 8:45〜17:30(土日祝日を除く)
    </p>
   </div>
   <div id="logo">
    <img src="/_public/assets/img/logo.png" alt="logo">
    <p>©KENEI Pharmaceutical</p>
   </div>
  </div>
</footer>
