<header class="c-header c-gnav">
  <nav class="c-menupc">
    <ul>
      <li>トップ</li>
      <li>毎日にハッカ油</li>
      <li>製品情報</li>
      <li>Q&A</li>
      <li>ハッカ油コラム</li>
      <li>ハッカ油ムービー</li>
    </ul>
  </nav>
  <div class="c-menumobile">
    <div class="c-nav--overlay" style="display:none">
      <div id="myNav">
        <img src="../_public/assets/img/menu-(1).png" alt="menu-mobile">
        <img src="../_public/assets/img/menu-(2).png" alt="menu-mobile">
      </div>  
      <nav class="c-gnav__mobile">
        <ul>
          <li>トップ</li>
          <li>毎日にハッカ油</li>
          <li>製品情報</li>
          <li>Q&A</li>
          <li>ハッカ油コラム</li>
          <li>ハッカ油ムービー</li>
        </ul>
      </nav>
      <div class="c-item1"><img src="../_public/assets/img/overplay1.png" alt=""></div>
      <div class="c-item2"><img src="../_public/assets/img/overplay2.png" alt=""></div>
    </div>
  </div>
</header>
